@import "./_globals.scss";

.reps {
    width: 400px;
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
    background-color: $bg;
    align-items: center;
}

.fl-sb {
    display: flex;
    justify-content: space-between;
}

.container { margin: 0 auto; }
.box {
    padding: 0.75em;
    &.box--light {
        background-color: $white;
    }
}

.w-50px {width: 50px;}
.w-250px {width: 250px;}
.w-300px {width: 300px;}
.w-400px { width: 400px; }
.w-960px { width: 960px; }
.w-100 {width: 100%;}

.p-1em { padding: 1em; }

.m-t-5px { margin-top: 5px; }
.m-l-5px {margin-left: 5px;}

.c-white { color: $white; }
.c-warm {color: $warm;}
.c-bg-dark {color: $bg-dark;}

.bg-white {background-color: $white;}
.bg-acc {background-color: $acc;}

.ta-r { text-align: right; }
.ta-l { text-align: left; }
.ta-c {text-align: center;}

.fw-b {font-weight: bold;}

.fs-l {font-size: 1.2em;}

.tt-u {text-transform: uppercase;}

.ho-hl-w:hover {
    cursor: pointer;
    &, * {
        background-color: $warm;
        color: $white;
        font-weight: bold;
    }
}

.ho-hl-a:hover {
    cursor: pointer;
    &, * {
        background-color: $acc;
        color: $white;
        font-weight: bold;
    }
}

.ho-hl-c:hover {
    cursor: pointer;
    &, * {
        background-color: $cold;
        color: $white;
        font-weight: bold;
    }
}