.flex {
  display: flex;
  flex-flow: row wrap;
}
.m-1-em { margin: 1em; }
.m-3-em { margin: 3em; }
.m-b-1-em { margin-bottom: 1em; }
.mw-20-em {
  max-width: 20em;
}
.uppercase {
  text-transform: uppercase;
}
.b-1-px-gray {
  border: 1px solid gray;
  border-radius: 3px;
}
.p-1-em { padding: 1em; }